<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Upload History</h1>
    <table>
        <thead>
            <tr>
                <th>Filename</th>
                <th>Bitrate</th>
                <th>Loudness Plot</th>
                <th>Waveform Plot</th>
                <th>Silence/Speech Ratio Plot</th>
                <th>Decibels Plot</th>
                <th>Sampling Rate Plot</th>
            </tr>
        </thead>
        <tbody>
            {% for filename, bitrate, loudness_plot_path, waveform_plot_path, silence_speech_ratio_plot_path, plot_path_decibels, plot_path_sr in uploads %}
            <tr>
                <td>{{ filename }}</td>
                <td>{{ bitrate }}</td>
                <td><img src="{{ url_for('static', filename=loudness_plot_path) }}" alt="Loudness Plot"></td>
                <td><img src="{{ url_for('static', filename=waveform_plot_path) }}" alt="Waveform Plot"></td>
                <td><img src="{{ url_for('static', filename=silence_speech_ratio_plot_path) }}" alt="Silence/Speech Ratio Plot"></td>
                <td><img src="{{ url_for('static', filename=plot_path_decibels) }}" alt="Decibels Plot"></td>
                <td><img src="{{ url_for('static', filename=plot_path_sr) }}" alt="Sampling Rate Plot"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
